openapi: 3.0.3
info:
  title: Public HTTP API
  version: 0.1.0
servers:
  - url: https://palizh.nutnetdev.ru/api
tags:
  - name: Auth
    description: Авторизация и текущий пользователь
  - name: Security
    description: Безопасность (CSRF)
  - name: Banners
    description: Баннеры
  - name: News
    description: Новости
  - name: Pages
    description: Страницы
  - name: Promotions
    description: Акции
  - name: Training
    description: Обучение
  - name: Catalog
    description: Каталог (категории и товары)
paths:
  /csrf-cookie:
    get:
      operationId: getCsrfCookie
      tags:
        - Security
      summary: Получить CSRF cookie для SPA
      description: Устанавливает cookies, необходимые для CSRF-защиты (например XSRF-TOKEN). Обычно вызывается при старте приложения (или перед первым mutating запросом), а не перед каждым POST/PUT/PATCH/DELETE.
      responses:
        '204':
          description: No Content
        '200':
          description: OK

  /banners:
    get:
      operationId: listBanners
      tags:
        - Banners
      summary: Список активных баннеров
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BannerListResponse'

  /news:
    get:
      operationId: listNews
      tags:
        - News
      summary: Список новостей
      description: Публичный список новостей. Сортировка фиксированная, управление сортировкой не предусмотрено.
      parameters:
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
          description: Номер страницы.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewsPaginationResponse'

  /news/{slug}:
    get:
      operationId: getNews
      tags:
        - News
      summary: Детальная новость
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewsDetail'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /pages/{slug}:
    get:
      operationId: getPage
      tags:
        - Pages
      summary: Детальная страница
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Page'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /promotions:
    get:
      operationId: listPromotions
      tags:
        - Promotions
      summary: Список акций
      description: Публичный список акций. Сортировка фиксированная, управление сортировкой не предусмотрено.
      parameters:
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
          description: Номер страницы.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromotionPaginationResponse'

  /promotions/{slug}:
    get:
      operationId: getPromotion
      tags:
        - Promotions
      summary: Детальная акция
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Promotion'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /training/categories:
    get:
      operationId: listTrainingCategories
      tags:
        - Training
      summary: Список категорий обучения
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrainingCategoryListResponse'

  /training/categories/{slug}:
    get:
      operationId: getTrainingCategory
      tags:
        - Training
      summary: Детальная категория обучения
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrainingCategory'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /training/programs:
    get:
      operationId: listTrainingPrograms
      tags:
        - Training
      summary: Список программ обучения
      description: Публичный список программ обучения. Сортировка фиксированная, управление сортировкой не предусмотрено.
      parameters:
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
          description: Номер страницы.
        - name: categorySlug
          in: query
          required: false
          schema:
            type: string
          description: Фильтр по slug категории обучения. Если не задан — возвращаются программы из любых категорий.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrainingProgramPaginationResponse'

  /training/programs/{slug}:
    get:
      operationId: getTrainingProgram
      tags:
        - Training
      summary: Детальная программа обучения
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrainingProgram'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /categories:
    get:
      operationId: listCategories
      tags:
        - Catalog
      summary: Дерево категорий
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryListResponse'

  /categories/{slug}:
    get:
      operationId: getCategory
      tags:
        - Catalog
      summary: Детальная категория
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /products:
    get:
      operationId: listProducts
      tags:
        - Catalog
      summary: Список товаров
      description: Публичный список товаров. Сортировка фиксированная, управление сортировкой не предусмотрено.
      parameters:
        - name: page
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
          description: Номер страницы.
        - name: categorySlug
          in: query
          required: false
          schema:
            type: string
          description: Фильтр по slug категории. Если не задан — возвращаются товары из любых категорий.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductPaginationResponse'

  /products/{slug}:
    get:
      operationId: getProduct
      tags:
        - Catalog
      summary: Детальная страница товара
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /auth/forgot-password:
    post:
      operationId: forgotPassword
      tags:
        - Auth
      summary: Запрос на восстановление пароля
      parameters:
        - $ref: '#/components/parameters/XSRFTokenHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForgotPasswordRequest'
      responses:
        '200':
          description: OK
        '422':
          $ref: '#/components/responses/ValidationError'

  /auth/reset-password:
    post:
      operationId: resetPassword
      tags:
        - Auth
      summary: Сброс пароля по токену
      parameters:
        - $ref: '#/components/parameters/XSRFTokenHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetPasswordRequest'
      responses:
        '200':
          description: OK
        '422':
          $ref: '#/components/responses/ValidationError'

  /auth/register:
    post:
      operationId: register
      tags:
        - Auth
      summary: Регистрация
      parameters:
        - $ref: '#/components/parameters/XSRFTokenHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '200':
          description: OK
        '422':
          $ref: '#/components/responses/ValidationError'

  /auth/login:
    post:
      operationId: login
      tags:
        - Auth
      summary: Логин
      parameters:
        - $ref: '#/components/parameters/XSRFTokenHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /auth/logout:
    post:
      operationId: logout
      tags:
        - Auth
      summary: Логаут
      security:
        - cookieAuth: []
      parameters:
        - $ref: '#/components/parameters/XSRFTokenHeader'
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /me:
    get:
      operationId: getMe
      tags:
        - Auth
      summary: Текущий пользователь
      security:
        - cookieAuth: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

components:
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: laravel-session
      description: Session cookie (имя может отличаться и задаётся через SESSION_COOKIE; по умолчанию laravel-session).
  parameters:
    XSRFTokenHeader:
      name: X-XSRF-TOKEN
      in: header
      required: true
      schema:
        type: string
      description: Значение CSRF-токена (обычно берётся из cookie XSRF-TOKEN после вызова /csrf-cookie).
  responses:
    UnauthorizedError:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFoundError:
      description: Not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            message: Not found
            code: NOT_FOUND
    ValidationError:
      description: Validation error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ValidationErrorResponse'
  schemas:
    LoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          format: password

    RegisterRequest:
      type: object
      required:
        - email
        - phone
        - inn
      properties:
        email:
          type: string
          format: email
          example: ivan@example.com
        phone:
          type: string
          example: '+79991234567'
        inn:
          type: string
          example: '1234567890'

    ForgotPasswordRequest:
      type: object
      required:
        - email
      properties:
        email:
          type: string
          format: email
          example: ivan@example.com

    ResetPasswordRequest:
      type: object
      required:
        - token
        - email
        - password
        - passwordConfirmation
      properties:
        token:
          type: string
          example: 4|pK5... 
        email:
          type: string
          format: email
          example: ivan@example.com
        password:
          type: string
          format: password
        passwordConfirmation:
          type: string
          format: password

    BannerListResponse:
      type: object
      required:
        - data
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Banner'

    Banner:
      type: object
      required:
        - id
        - imageUrl
        - targetUrl
      properties:
        id:
          type: integer
          example: 1
        title:
          type: string
          nullable: true
          example: Скидки недели
        subtitle:
          type: string
          nullable: true
          example: До -30% на выделенный ассортимент
        imageUrl:
          type: string
          description: Абсолютный или относительный URL изображения баннера.
          example: /storage/banners/banner1.jpg
        targetUrl:
          type: string
          description: Абсолютный или относительный URL перехода по баннеру.
          example: /catalog/sale

    NewsPaginationResponse:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/News'
        links:
          $ref: '#/components/schemas/PaginationLinks'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    News:
      type: object
      required:
        - id
        - title
        - slug
        - announceText
        - createdAt
        - updatedAt
      properties:
        id:
          type: integer
          example: 1
        title:
          type: string
          example: Открытие нового магазина
        slug:
          type: string
          example: otkrytie-novogo-magazina
        announceText:
          type: string
          example: Короткий анонс новости.
        createdAt:
          type: string
          format: date-time
          example: '2026-05-14T12:00:00+04:00'
        updatedAt:
          type: string
          format: date-time
          example: '2026-05-14T12:10:00+04:00'
        coverImageUrl:
          type: string
          nullable: true
          description: Абсолютный или относительный URL обложки новости.
          example: /storage/news/cover1.jpg

    NewsDetail:
      allOf:
        - $ref: '#/components/schemas/News'
        - type: object
          required:
            - body
          properties:
            body:
              type: string
              example: Полный текст новости.
            metaTitle:
              type: string
              nullable: true
              example: Meta title
            metaDescription:
              type: string
              nullable: true
              example: Meta description
            metaKeywords:
              type: string
              nullable: true
              example: keyword1, keyword2

    PaginationLinks:
      type: object
      required:
        - first
        - last
      properties:
        first:
          type: string
          nullable: true
          example: https://palizh.nutnetdev.ru/api/news?page=1
        last:
          type: string
          nullable: true
          example: https://palizh.nutnetdev.ru/api/news?page=10
        prev:
          type: string
          nullable: true
          example: https://palizh.nutnetdev.ru/api/news?page=1
        next:
          type: string
          nullable: true
          example: https://palizh.nutnetdev.ru/api/news?page=3

    PaginationMeta:
      type: object
      required:
        - current_page
        - last_page
        - per_page
        - total
      properties:
        current_page:
          type: integer
          example: 2
        from:
          type: integer
          nullable: true
          example: 16
        last_page:
          type: integer
          example: 10
        path:
          type: string
          example: https://palizh.nutnetdev.ru/api/news
        per_page:
          type: integer
          example: 15
        to:
          type: integer
          nullable: true
          example: 30
        total:
          type: integer
          example: 142

    Page:
      type: object
      required:
        - id
        - slug
        - title
        - body
      properties:
        id:
          type: integer
          example: 1
        slug:
          type: string
          example: about
        title:
          type: string
          example: О компании
        body:
          type: string
          example: Контент страницы.
        metaTitle:
          type: string
          nullable: true
          example: Meta title
        metaDescription:
          type: string
          nullable: true
          example: Meta description
        metaKeywords:
          type: string
          nullable: true
          example: keyword1, keyword2

    PromotionPaginationResponse:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/PromotionListItem'
        links:
          $ref: '#/components/schemas/PaginationLinks'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    PromotionListItem:
      type: object
      required:
        - id
        - name
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: Скидка 10% на выпечку
        description:
          type: string
          nullable: true
          example: Подробное описание акции.
        startsAt:
          type: string
          format: date
          nullable: true
          example: '2026-05-01'
        endsAt:
          type: string
          format: date
          nullable: true
          example: '2026-05-31'
        conditions:
          type: string
          nullable: true
          example: Условия участия в акции.
        applicability:
          type: string
          nullable: true
          example: Где действует акция / на какие товары распространяется.
        ctaUrl:
          type: string
          nullable: true
          description: Абсолютный или относительный URL для CTA.
          example: /catalog/sale

    Promotion:
      type: object
      required:
        - id
        - name
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: Скидка 10% на выпечку
        description:
          type: string
          nullable: true
          example: Подробное описание акции.
        startsAt:
          type: string
          format: date
          nullable: true
          example: '2026-05-01'
        endsAt:
          type: string
          format: date
          nullable: true
          example: '2026-05-31'
        conditions:
          type: string
          nullable: true
          example: Условия участия в акции.
        applicability:
          type: string
          nullable: true
          example: Где действует акция / на какие товары распространяется.
        ctaUrl:
          type: string
          nullable: true
          description: Абсолютный или относительный URL для CTA.
          example: /catalog/sale
        metaTitle:
          type: string
          nullable: true
          example: Meta title
        metaDescription:
          type: string
          nullable: true
          example: Meta description
        metaKeywords:
          type: string
          nullable: true
          example: keyword1, keyword2

    TrainingCategoryListResponse:
      type: object
      required:
        - data
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/TrainingCategoryListItem'

    TrainingCategoryListItem:
      type: object
      required:
        - id
        - title
        - slug
      properties:
        id:
          type: integer
          example: 1
        title:
          type: string
          example: Курсы для начинающих
        slug:
          type: string
          example: beginner

    TrainingCategory:
      type: object
      required:
        - id
        - title
        - slug
      properties:
        id:
          type: integer
          example: 1
        title:
          type: string
          example: Курсы для начинающих
        slug:
          type: string
          example: beginner
        metaTitle:
          type: string
          nullable: true
          example: Meta title
        metaDescription:
          type: string
          nullable: true
          example: Meta description
        metaKeywords:
          type: string
          nullable: true
          example: keyword1, keyword2

    TrainingProgramPaginationResponse:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/TrainingProgramListItem'
        links:
          $ref: '#/components/schemas/PaginationLinks'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    TrainingProgramListItem:
      type: object
      required:
        - id
        - categoryId
        - title
        - slug
        - dateFrom
        - dateTo
      properties:
        id:
          type: integer
          example: 1
        categoryId:
          type: integer
          example: 1
        title:
          type: string
          example: Базовый курс
        slug:
          type: string
          example: basic-course
        description:
          type: string
          nullable: true
          example: Описание программы.
        formatText:
          type: string
          nullable: true
          example: Онлайн
        durationText:
          type: string
          nullable: true
          example: 2 недели
        dateFrom:
          type: string
          format: date-time
          example: '2026-06-01T10:00:00+04:00'
        dateTo:
          type: string
          format: date-time
          example: '2026-06-14T18:00:00+04:00'

    TrainingProgram:
      type: object
      required:
        - id
        - categoryId
        - title
        - slug
        - dateFrom
        - dateTo
      properties:
        id:
          type: integer
          example: 1
        categoryId:
          type: integer
          example: 1
        title:
          type: string
          example: Базовый курс
        slug:
          type: string
          example: basic-course
        description:
          type: string
          nullable: true
          example: Описание программы.
        formatText:
          type: string
          nullable: true
          example: Онлайн
        durationText:
          type: string
          nullable: true
          example: 2 недели
        dateFrom:
          type: string
          format: date-time
          example: '2026-06-01T10:00:00+04:00'
        dateTo:
          type: string
          format: date-time
          example: '2026-06-14T18:00:00+04:00'
        metaTitle:
          type: string
          nullable: true
          example: Meta title
        metaDescription:
          type: string
          nullable: true
          example: Meta description
        metaKeywords:
          type: string
          nullable: true
          example: keyword1, keyword2

    CategoryListResponse:
      type: object
      required:
        - data
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Category'

    Category:
      type: object
      required:
        - id
        - name
        - slug
        - children
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: Торты
        slug:
          type: string
          example: cakes
        children:
          type: array
          items:
            $ref: '#/components/schemas/Category'
          example: []
      example:
        id: 1
        name: Торты
        slug: cakes
        children:
          - id: 2
            name: Бисквитные торты
            slug: sponge-cakes
            children: []

    ProductPaginationResponse:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Product'
        links:
          $ref: '#/components/schemas/PaginationLinks'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    Product:
      type: object
      required:
        - id
        - slug
        - brand
        - name
        - variants
      properties:
        id:
          type: integer
          example: 1
        slug:
          type: string
          example: tort-medovik
        brand:
          $ref: '#/components/schemas/Brand'
        name:
          type: string
          example: Торт Медовик
        description:
          type: string
          nullable: true
          example: Описание товара.
        variants:
          type: array
          items:
            $ref: '#/components/schemas/ProductVariant'

    Brand:
      type: object
      required:
        - id
        - name
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: Палыч

    ProductVariant:
      type: object
      required:
        - id
        - name
        - isDefault
        - stockQty
        - productionTimeDays
        - price
        - images
      properties:
        id:
          type: integer
          example: 10
        name:
          type: string
          example: 1 кг
        isDefault:
          type: boolean
          example: true
        stockQty:
          type: integer
          example: 12
        productionTimeDays:
          type: integer
          example: 2
        price:
          $ref: '#/components/schemas/Money'
        images:
          type: array
          items:
            type: string
          example:
            - /storage/products/medovik-1.jpg
            - /storage/products/medovik-2.jpg

    Money:
      type: object
      required:
        - amount
        - currency
      properties:
        amount:
          type: number
          example: 1290.5
        currency:
          type: string
          example: RUB

    User:
      type: object
      required:
        - id
        - name
        - email
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: Ivan Ivanov
        email:
          type: string
          format: email
          example: ivan@example.com

    ErrorResponse:
      type: object
      required:
        - message
      properties:
        message:
          type: string
          example: Unauthorized
        code:
          type: string
          nullable: true
          example: AUTH_REQUIRED

    ValidationErrorResponse:
      type: object
      required:
        - message
        - errors
      properties:
        message:
          type: string
          example: The given data was invalid.
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          example:
            email:
              - The email field is required.
